.footer {
  background: #ffffff;
  border-top: 1px solid #a1a1a1;
}

.footer h3 {
  color: #494949;
  font-family: DosisSemiBold, 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.footer .footer-logo-wrap,
.footer .footer-logo-descr {
  display: inline-block;
  vertical-align: top;
}

.footer .footer-logo-descr {
  padding-left: 5px;
}

.footer .footer-logo-descr>h2,
.footer .footer-logo-descr>p {
  color: #172c42;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  margin: 0;
}

.footer .footer-logo-descr>h2 {
  text-transform: uppercase;
  padding-top: 8px;
  font-size: 20px;
}

.footer .footer-logo-descr>h2:last-of-type {
  line-height: 0.5;
  padding-top: 0;
}

.front-signin-btn:visited {
  color: #ffffff;
}

.footer .footer-logos-wrap {
  margin-top: 45px;
}

.footer .footer-logos-wrap img:first-child {
  margin-right: 30px;
}
